<h1>All albums</h1>
<ul>
#foreach ($album in $albums)
  <a href="/albums/$album.getId()">$album.getTitle()</a>
#end
</ul>
<a href="/albums/new">Add New Album</a>

<h1>All artists</h1>
<ul>
#foreach ($artist in $artists)
  <a href="/artists/$artist.getId()">$artist.getName()</a>
#end
</ul>
<a href="/artists/new">Add New Artist</a>
