#if ($artist)
  <h1>$artist.getName()</h1>
  <ul>
    #foreach ($album in $albums)
      #if ($artist.getName == $album.getArtist())
        <li><a href="/albums/$album.getId()">$album.getTitle()</a></li>
      #else
      #end
    #end
  </ul>
#else
  <h1>Artist not found</h1>
#end

<a href="/artists/new">Add another artist</a>
<a href="/albums">All artists and albums</a>
